

// colors

$white: #fff;
$black: #000;
$red: #f00;
$green: #0f0;

$pagebg:  #f4f5fa;
$footerbg: #dadeeb;// #929dc1;

$darkblue: #151e53;
$blue: #273d83;
$lightblue: #037aff;
$nav-bg: #dadeeb;
$grey: #ccc;

$error-red: #f00;

$text1: #3d4354; 
$text2: #929dc1;
$text3: #807f7f;

$fire-engine-red: #e62e25;
